	/*
  	Flaticon icon font: Flaticon
  	Creation date: 11/03/2018 10:54
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("/fonts/Flaticon.eot");
  src: url("/fonts/Flaticon.eot?") format("embedded-opentype"),
       url("/fonts/Flaticon.woff") format("woff"),
       url("/fonts/Flaticon.ttf") format("truetype"),
       url("/fonts/Flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("/fonts/Flaticon.svg") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-location:before { content: "\f100"; }
.flaticon-map-marker-with-two-arrows-pointing-opposite-directions:before { content: "\f101"; }
.flaticon-been-here-marker:before { content: "\f102"; }
.flaticon-home-1:before { content: "\f103"; }
.flaticon-home:before { content: "\f104"; }
.flaticon-delivery:before { content: "\f105"; }
.flaticon-passage-of-time:before { content: "\f106"; }
.flaticon-calendar-with-a-clock-time-tools:before { content: "\f107"; }
.flaticon-clock:before { content: "\f108"; }
.flaticon-event-date-and-time-symbol:before { content: "\f109"; }
.flaticon-time:before { content: "\f10a"; }
.flaticon-multiple-users-silhouette:before { content: "\f10b"; }
.flaticon-group:before { content: "\f10c"; }
.flaticon-award-medal-of-number-one-with-olive-branches:before { content: "\f10d"; }
.flaticon-medal-1:before { content: "\f10e"; }
.flaticon-medal:before { content: "\f10f"; }
.flaticon-badge:before { content: "\f110"; }
.flaticon-medical-32:before { content: "\f111"; }
.flaticon-medical-31:before { content: "\f112"; }
.flaticon-medical-30:before { content: "\f113"; }
.flaticon-hospital-call:before { content: "\f114"; }
.flaticon-science:before { content: "\f115"; }
.flaticon-medical-29:before { content: "\f116"; }
.flaticon-medical-28:before { content: "\f117"; }
.flaticon-medical-27:before { content: "\f118"; }
.flaticon-technology-1:before { content: "\f119"; }
.flaticon-silhouette:before { content: "\f11a"; }
.flaticon-medical-26:before { content: "\f11b"; }
.flaticon-cross:before { content: "\f11c"; }
.flaticon-medical-25:before { content: "\f11d"; }
.flaticon-technology:before { content: "\f11e"; }
.flaticon-people-15:before { content: "\f11f"; }
.flaticon-medical-24:before { content: "\f120"; }
.flaticon-sign-1:before { content: "\f121"; }
.flaticon-people-14:before { content: "\f122"; }
.flaticon-medical-23:before { content: "\f123"; }
.flaticon-medical-22:before { content: "\f124"; }
.flaticon-square:before { content: "\f125"; }
.flaticon-people-13:before { content: "\f126"; }
.flaticon-medical-21:before { content: "\f127"; }
.flaticon-buildings:before { content: "\f128"; }
.flaticon-circle:before { content: "\f129"; }
.flaticon-medical-20:before { content: "\f12a"; }
.flaticon-people-12:before { content: "\f12b"; }
.flaticon-folder-1:before { content: "\f12c"; }
.flaticon-medical-18:before { content: "\f12d"; }
.flaticon-people-11:before { content: "\f12e"; }
.flaticon-people-10:before { content: "\f12f"; }
.flaticon-medical-15:before { content: "\f130"; }
.flaticon-people-9:before { content: "\f131"; }
.flaticon-nature:before { content: "\f132"; }
.flaticon-human:before { content: "\f133"; }
.flaticon-people-8:before { content: "\f134"; }
.flaticon-medical-12:before { content: "\f135"; }
.flaticon-medical-11:before { content: "\f136"; }
.flaticon-people-7:before { content: "\f137"; }
.flaticon-medical-10:before { content: "\f138"; }
.flaticon-people-6:before { content: "\f139"; }
.flaticon-people-5:before { content: "\f13a"; }
.flaticon-medical-9:before { content: "\f13b"; }
.flaticon-medical-8:before { content: "\f13c"; }
.flaticon-sign:before { content: "\f13d"; }
.flaticon-people-4:before { content: "\f13e"; }
.flaticon-black:before { content: "\f13f"; }
.flaticon-medical-7:before { content: "\f140"; }
.flaticon-folder:before { content: "\f141"; }
.flaticon-people-3:before { content: "\f142"; }
.flaticon-person:before { content: "\f143"; }
.flaticon-unhealthy:before { content: "\f144"; }
.flaticon-healthy:before { content: "\f145"; }
.flaticon-caduceus-medical-symbol:before { content: "\f146"; }
.flaticon-helicopter:before { content: "\f147"; }
.flaticon-heart-checkup:before { content: "\f148"; }
.flaticon-woman-with-hat-of-red-cross:before { content: "\f149"; }
.flaticon-nurse:before { content: "\f14a"; }
.flaticon-blood-pressure-control-tool:before { content: "\f14b"; }
.flaticon-blood-analysis:before { content: "\f14c"; }
.flaticon-lab-flask:before { content: "\f14d"; }
.flaticon-mouse:before { content: "\f14e"; }
.flaticon-medical-5:before { content: "\f14f"; }
.flaticon-medical-4:before { content: "\f150"; }
.flaticon-medical-3:before { content: "\f151"; }
.flaticon-edit:before { content: "\f152"; }
.flaticon-knee:before { content: "\f153"; }
.flaticon-people-1:before { content: "\f154"; }
.flaticon-medical-2:before { content: "\f155"; }
.flaticon-medical-1:before { content: "\f156"; }
.flaticon-medical:before { content: "\f157"; }
.flaticon-disabled:before { content: "\f158"; }
.flaticon-disability:before { content: "\f159"; }
.flaticon-pregnancy:before { content: "\f15a"; }
.flaticon-x-ray-of-bones:before { content: "\f15b"; }
.flaticon-baby-with-diaper:before { content: "\f15c"; }
.flaticon-mother-with-baby-in-arms:before { content: "\f15d"; }
.flaticon-lungs-with-bronchi:before { content: "\f15e"; }
.flaticon-lungs:before { content: "\f15f"; }
.flaticon-pulmonary:before { content: "\f160"; }
.flaticon-urinary-system:before { content: "\f161"; }
.flaticon-kidney:before { content: "\f162"; }
.flaticon-brain-cenit-view:before { content: "\f163"; }
.flaticon-male-brain:before { content: "\f164"; }
.flaticon-brain-and-head:before { content: "\f165"; }
.flaticon-pill:before { content: "\f166"; }
.flaticon-pills:before { content: "\f167"; }
.flaticon-doctor-3:before { content: "\f168"; }
.flaticon-doctor-2:before { content: "\f169"; }
.flaticon-doctor-1:before { content: "\f16a"; }
.flaticon-doctor:before { content: "\f16b"; }
.flaticon-tooth-1:before { content: "\f16c"; }
.flaticon-dentist:before { content: "\f16d"; }
.flaticon-tooth:before { content: "\f16e"; }
.flaticon-ambulance:before { content: "\f16f"; }
.flaticon-ambulance-with-first-aid-sign:before { content: "\f170"; }
.flaticon-like:before { content: "\f171"; }
.flaticon-heartbeat:before { content: "\f172"; }
.flaticon-health-care:before { content: "\f173"; }
.flaticon-sound-frequency:before { content: "\f174"; }
.flaticon-visible-opened-eye-interface-option:before { content: "\f175"; }
.flaticon-eye-on-magnifying-glass:before { content: "\f176"; }
.flaticon-eye-drop:before { content: "\f177"; }
.flaticon-orthodontic:before { content: "\f178"; }
.flaticon-gum:before { content: "\f179"; }
.flaticon-molar-crown:before { content: "\f17a"; }
.flaticon-braces-1:before { content: "\f17b"; }
.flaticon-braces:before { content: "\f17c"; }
.flaticon-implants:before { content: "\f17d"; }